{% extends "base.html" %}

{% block title %}
<title>Add Film</title>
{% endblock %}

{% block body %}
    <p>Add Film</p>
    <form method="post">
        <label>Название фильма</label><br>
        <input type="text" class="form_control" name="name" id="name" required="required"><br>
        <label>Описание фильма</label><br>
        <input type="text" class="form_control" name="description" id="description" required="required"><br>
        <label>Ссылка на фильм</label><br>
        <input type="text" class="form_control" name="link" id="link" required="required"><br>
        <label>Ссылка на картинку</label><br>
        <input type="text" class="form_control" name="photo" id="photo"><br><br>
        <button type="submit">Add film</button><br>
    </form>
    <button onclick="window.location.href = '/'">Back</button><br>

{% endblock %}